.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#menu {
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    padding-left: 12px;
}

#menu li {
    display: inline;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: gray;
    background-color: white;
}

.border-radio-1 {
    border-radius: 1%;
}

.padding-20px {
    padding: 20px;
}

.margin-bottom-50px {
    margin-bottom: 50px; 
}

.margin-left-50px {
    margin-left: 50px; 
}

.w-100 {
    max-width: 100%;
}

.logo-redes {
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 768px) {
    .abc {
      background-color: lightblue;
    }
}